CONVEX_SITE_ORIGIN=http://127.0.0.1:3211

CONVEX_URL=http://convex-backend:3210

CONVEX_SERVICE_KEY=

ALLOWED_ORIGIN=http://localhost:8080

VITE_SERVER_URL=http://localhost:3000
VITE_SERVER_WS=ws://localhost:3000
